<div *ngIf="races.length > 0, else pasDeCourse">
  <h2>Races List</h2>
  <ul>
    <li *ngFor="let poney of races">{{ poney }}</li>
  </ul>
</div>
<ng-template #pasDeCourse>
  <h2>Pas de course en cours</h2>
</ng-template>


<hr />
<button (click)="addToRaces()">Un nouveau poney à passé la ligne d'arrivée !</button>
<button (click)="clearRaces()">Passer à une nouvelle course</button>

<hr />
<input #nomCourse>
<button (click)="races.push(nomCourse.value); nomCourse.value = ''; nomCourse.focus()">Ajoute à la liste</button>
