<div class="container">
  <form
    class="form-inline well well-sm"
    (ngSubmit)="startSearch()"
    [formGroup]="searchForm"
  >
    <div class="form-group col-md-5">
      <label>Entrez un titre de film</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        placeholder="Titre du film"
      />
    </div>

    <div class="form-group col-md-5">
      <label>Entrez une année</label>
      <input
        formControlName="year"
        type="number"
        min="1900"
        max="2019"
        step="1"
        value="2019"
        class="form-control"
      />
    </div>
    <div>
      {{ filmData | async | json }}
    </div>

    <button type="submit" [disabled]="!searchForm.valid">Rechercher</button>
  </form>
</div>
