<p>
  composant3 works!
</p>

<hr />

<button (click)="addToArriveeCourse()">Ajoute un nouveau poney à la liste d'arrivée</button>

<hr />

<div (click)="lancePremiereAlerte($event)">
  <button>première div...</button>
  <div (click)="lanceSecondeAlerte($event)">
    <button>div...</button>
  </div>
</div>

<hr />

<textarea (keydown.alt.v)="onAltVPress()">Press Alt+V</textarea>

<hr />

<input #name />
<button (click)="name.focus()">Focus sur l'input</button>
<button (click)="afficheValue(name.value)">Affiche la valeur de l'input</button>
<button (click)="name.value = 'test'">Change la valeur de l'input à 'test'</button>
