<p [style.color]="foreground">
  (comp2) : {{ poney.name }} run!
</p>

<select>
  <option>Applejack</option>
  <option>Fluttershy</option>
  <option [selected]="selectTrois">Pinkie Pie</option>
  <option>Rarity</option>
  <option>Rainbow Dash</option>
</select>
<br/>
<button (click)='onButtonClick()'>Test des evenements Angular</button>
