<ng-template #pasArrivants>
  <div>
    <h1 [style.color]="couleur">Pas encore de gagnant</h1>
  </div>
</ng-template>
<hr />
<span [ngSwitch]="arrives.length">
  <p *ngSwitchCase="0">
    Y'a encore personne d'arrivé vu que la course n'a pas commencé...
  </p>
  <p *ngSwitchCase="1">
    Le premier est arrivé !
  </p>
  <p *ngSwitchDefault>
    Y'a plusieurs arrivés :
  </p>
</span>
<div *ngIf="arrives.length > 0; else pasArrivants">
  <h1 [style.color]="couleur">Liste des arrivants</h1>
  <ul>
    <li
      *ngFor="
        let arrivant of arrives;
        index as i;
        even as e;
        odd as o;
        first as f;
        last as l
      "
    >
      <span
        [ngClass]="{ classLast: l, classFirst: f, classOdd: o, classEven: e }"
      >
        {{ i }} : {{ arrivant }}
      </span>
    </li>
  </ul>
</div>

<input #nomNouvelArrivant />
<button
  (click)="ajouteNouvelArrivant(nomNouvelArrivant, nouvelleCouleur.value)"
>
  Ajouter un nouvel arrivant
</button>
<button (click)="nouvelleCourse()">Nouvelle course</button>
<hr />
<select #nouvelleCouleur>
  <option>red</option>
  <option>blue</option>
  <option [selected]="arrives.length > 2">violet</option>
  <option>green</option>
</select>
<button (click)="appliquerCouleur(nouvelleCouleur.value)">
  Appliquer la couleur
</button>
<hr />
<ul>
  <li *ngFor="let ville of listeVilles">{{ ville.name }}</li>
</ul>
<div>Première ville de la liste</div>
{{ listeVilles | slice: 0:1 | json }}
<hr />
<div>{{ asyncGreeting | async }}</div>
<hr />
<div>{{ "2017-09-25" | fromNow }}</div>
