<h1 appDoNothing [logToto]="textePourLog | uppercase">
  Utilisation d'un pipe multiplicateur
</h1>
<ul>
  <li *ngFor="let nombre of nombres" appDoNothing [logTata]="textePourLog">
    {{ nombre | multipliePar: 2 }}
  </li>
</ul>
